@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme dark {
  --color-accent: #202424
}

* {
  @apply scheme-dark 
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;

}

body {
  @apply bg-[#151419] text-white;
}

@font-face {
  font-family: 'Mona Sans';
  src:
    url('assets/Mona-Sans.woff2') format('woff2 supports variations'),
    url('assets/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

* {
  font-family: 'Mona Sans', sans-serif;
  @apply text-lg text-gray-300;
  :hover {
    @apply cursor-default
  }
  user-select: none;
}

h1 {
  @apply text-2xl xl:text-8xl font-bold;
}

h2 {
  @apply text-xl xl:text-5xl;
}

section {
  @apply py-7 xl:py-10;
}

section h1 {
  @apply text-3xl xl:text-6xl;
}

section p {
  @apply pl-2 lg:pl-4 xl:pl-8;
}

.navigation {
  @apply flex items-center gap-2 lg:gap-4 w-fit bg-gray-950 p-2 rounded;
}

.navigation p {
  @apply text-2xl text-gray-300 hover:text-gray-100;
}

.navigation svg {
  @apply border-2 border-gray-300 rounded p-1;
}

@font-face {
  font-family: 'wosker';
  src: url(assets/Wosker\ Demo.otf);
}

.wosker {
  font-family: 'wosker', sans-serif;
}

@font-face {
  font-family: 'boardwalk';
  src: url(./assets/Boardwalk\ avenu.woff2);
}

.boardwalk {
  font-family: 'boardwalk';
}
